{% extends "base.html" %}

{% block content %}

  <div class="ui main container">

      <div class="ui floating  message">
        <h1 class="ui header">
             <img class="logo" src="/static/img/logo_waze.png">
              <div class="content">
                 Puntos de interés turístico Waze
              </div>

        </h1>

        <p>Este es un sitio en donde podrás registrar todos los puntos que deseas que sean añadidos en la aplicación de Waze.
            </p>
          <p>Los editores a cargo, amablemente colaboraran para que los lugares que registres en esta pagina aparezcan
mapeados en la aplicación.</p>
        <a class="ui blue button" href="{% url 'create_venue' %}">Registrar lugar »</a>
      </div>



      {% for venue in venues %}
      <div class="ui blue segment">
        <h3 class="ui dividing header">
            <i class="building icon"></i> {{ venue.name }}
        </h3>

          {% if venue.mapped  %}
            <a class="ui green tag label">{{venue.mapped |yesno:"Mapeado, Pendiente" }}</a>
          {% else  %}
            <a class="ui red tag label">{{venue.mapped |yesno:"Mapeado, Pendiente" }}</a>
          {% endif %}
          <table class="ui definition  table">
              <tbody>
               <tr>
                  <td><i class="marker icon"></i> Coordenadas  </td>
                  <td>{{ venue.get_position | default:"Sin Descripción"}}</td>
                </tr>
                <tr>
                  <td><i class="sitemap icon"></i>  Categorias</td>
                  <td>{% for cat in venue.categories.all %}
                      <a class="ui grey label" style="margin-bottom: 4px">{{ cat.name }}</a>
                      {% endfor %}
                  </td>
                </tr>
               <tr>
                  <td><i class="world icon"></i>Pagina web</td>
                  <td>{{ venue.web | default:"No especificado"}}</td>
                </tr>
               <tr>
                  <td><i class="call icon"></i>Telefono</td>
                  <td>{{ venue.phone_number | default:"No especificado "}}</td>
                </tr>
               <tr>
                  <td><i class="wait icon"></i>Horarios</td>
                  <td>{{ venue.schedules | default:"No especificados "}}</td>
                </tr>
                <tr>
                  <td><i class="sidebar icon"></i>Descripción</td>
                  <td>{{ venue.description | default:"Sin Descripción"}}</td>
                </tr>
                <tr>
                  <td><i class="building icon"></i>Nombres secundarios</td>
                  <td>{{ venue.secondary_names | default:"No especificados "}}</td>
                </tr>
                <tr>
                  <td><i class="building icon"></i>Servicios</td>
                  <td>
                      {% if venue.valet_parking  %}
                        <a class="ui brown label" style="margin-bottom: 4px">Valet parking</a>
                      {% endif %}
                      {% if venue.wifi  %}
                         <a class="ui brown label" style="margin-bottom: 4px">WiFi</a>
                      {% endif %}
                      {% if venue.restrooms  %}
                         <a class="ui brown label" style="margin-bottom: 4px">Baños</a>
                      {% endif %}
                      {% if venue.parking  %}
                        <a class="ui brown label" style="margin-bottom: 4px">Parqueo para clientes</a>
                      {% endif %}
                      {% if venue.auto_service  %}
                        <a class="ui brown label" style="margin-bottom: 4px">Auto servicio</a>
                      {% endif %}

                       {% if venue.credit_cards  %}
                        <a class="ui brown label" style="margin-bottom: 4px">Aceptan tarjetas</a>
                      {% endif %}
                       {% if venue.reservations  %}
                        <a class="ui brown label" style="margin-bottom: 4px">Reservaciones</a>
                      {% endif %}
                       {% if venue.outdoor_seats  %}
                        <a class="ui brown label" style="margin-bottom: 4px">Sillas al aire libre</a>
                      {% endif %}
                       {% if venue.air_conditioning  %}
                        <a class="ui brown label" style="margin-bottom: 4px">Aire acondicionado</a>
                      {% endif %}
                       {% if venue.delivery  %}
                        <a class="ui brown label" style="margin-bottom: 4px">Delivery</a>
                      {% endif %}
                       {% if venue.to_take_away  %}
                        <a class="ui brown label" style="margin-bottom: 4px">Para llevar</a>
                      {% endif %}
                       {% if venue.wheelchair_access  %}
                        <a class="ui brown label" style="margin-bottom: 4px">Acceso para sillas de ruedas</a>
                      {% endif %}




                  </td>
                </tr>
            </tbody></table>

          {% if  user.is_superuser and not venue.mapped %}
            <a class="ui blue button" href="{% url 'update_venue' venue.id %}">Establecer como mapeado</a>
          {% endif %}
       </div>
      {% empty %}
            <div class="ui warning message">
              <div class="header">
                Vaya!
              </div>
              No hay registros para mostrar
            </div>
      {% endfor %}

        <h5 class="ui horizontal divider header">
          {{page_obj.number}} de {{paginator.num_pages}}
        </h5>

        <div class="pagination">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"><i class="left chevron icon"></i></a>
                {% endif %}

            {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <a class="active" href="#"><span>{{ i }}</span></a>
              {% else %}
                <a href="?page={{ i }}"><span>{{ i }}</span></a>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}"><i class="right chevron icon"></i></a>
            {% endif %}
</div>
  </div>



{% endblock content %}