{% extends "base.html" %}

{% block content %}

  <div class="ui main container">


      <div class="ui floating  message">
        <h1 class="ui header">
             <img class="logo" src="/static/img/logo_waze.png">
              <div class="content">
                 Puntos de interés turístico Waze
              </div>

        </h1>

        <p>Este es un sitio en donde podrás registrar todos los puntos que deseas que sean añadidos en la aplicación de Waze.
            </p>
          <p>Los editores a cargo, amablemente colaboraran para que los lugares que registres en esta pagina aparezcan
mapeados en la aplicación.</p>

          {% if not user.is_authenticated %}
          <br>
            <h4 class="ui dividing header">
                Inicia sesión o crea una cuenta de usuario con tu red social favorita
                 <div class="sub header"></div>
            </h4>
          <br>

            <a class="ui facebook button" href="{% url 'social:begin' 'facebook' %}"> <i class="facebook icon"></i> Facebook</a>
            <a class="ui linkedin button" href="{% url 'social:begin' 'linkedin-oauth2' %}"> <i class="linkedin icon"></i> Linkedin</a>
            <a class="ui twitter button" href="{% url 'social:begin' 'twitter' %}"> <i class="twitter icon"></i> Twitter</a>
            <a class="ui red button" href="{% url 'social:begin' 'google-oauth2' %}"> <i class="google icon"></i> Google</a>

            <div class="ui warning message">
              <i class="icon info"></i>
              Puedes iniciar sesión con cualquiera de las siguientes redes sociales siempre y cuando en todas uses la misma dirección de correo electrónico, de los contrario se crearan múltiples cuentas de usuario por cada dirección de correo diferente que uses.
            </div>
          {% else %}
             <a class="ui blue button" href="{% url 'create_venue' %}">Registrar lugar »</a>
          {% endif %}

      </div>


 {% if user.is_authenticated %}

      {% for venue in venues %}
      <div class="ui blue segment">
        <h3 class="ui dividing header">
            <i class="building icon"></i> {{ venue.name }}
        </h3>

          {% if venue.status == 2 %}
            <a class="ui green image label">
            <img src="{{venue.mapped_by.avatar}}">
              Mapeado por:
              <div class="detail">{{venue.mapped_by.first_name}} {{venue.mapped_by.last_name}}</div>
            </a>
          {% elif venue.status == 3 %}
            <a class="ui yellow image label">
            <img src="{{venue.mapped_by.avatar}}">
              Denegado por:
              <div class="detail">{{venue.mapped_by.first_name}} {{venue.mapped_by.last_name}}</div>
            </a>
          {% if venue.status_desc %}
            <div class="ui comments">
              <div class="comment">
                <a class="avatar">
                  <img src="{{venue.mapped_by.avatar}}">
                </a>
                <div class="content">
                  <a class="author">{{venue.mapped_by.fist_name}} {{venue.mapped_by.last_name}}</a>
                  <div class="text">
                    {{venue.status_desc}}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}

          {% else  %}
            <a class="ui red tag label">Pendiente</a>
          {% endif %}
          <table class="ui definition  table">
              <tbody>
               <tr>
                  <td><i class="marker icon"></i> Coordenadas  </td>
                  <td>{{ venue.get_position | default:"Sin Descripción"}}</td>
                </tr>
                <tr>
                  <td><i class="sitemap icon"></i>  Categorias</td>
                  <td>{% for cat in venue.categories.all %}
                      <a class="ui grey label" style="margin-bottom: 4px">{{ cat.name }}</a>
                      {% endfor %}
                  </td>
                </tr>
               <tr>
                  <td><i class="world icon"></i>Pagina web</td>
                  <td>{{ venue.web | default:"No especificado"}}</td>
                </tr>
               <tr>
                  <td><i class="call icon"></i>Telefono</td>
                  <td>{{ venue.phone_number | default:"No especificado "}}</td>
                </tr>
               <tr>
                  <td><i class="wait icon"></i>Horarios</td>
                  <td>{{ venue.schedules | default:"No especificados "}}</td>
                </tr>
                <tr>
                  <td><i class="sidebar icon"></i>Descripción</td>
                  <td>{{ venue.description | default:"Sin Descripción"}}</td>
                </tr>
                <tr>
                  <td><i class="building icon"></i>Nombres secundarios</td>
                  <td>{{ venue.secondary_names | default:"No especificados "}}</td>
                </tr>
                <tr>
                  <td><i class="settings icon"></i>Servicios</td>
                  <td>
                      {% if venue.valet_parking  %}
                        <a class="ui brown label" style="margin-bottom: 4px">Valet parking</a>
                      {% endif %}
                      {% if venue.wifi  %}
                         <a class="ui brown label" style="margin-bottom: 4px">WiFi</a>
                      {% endif %}
                      {% if venue.restrooms  %}
                         <a class="ui brown label" style="margin-bottom: 4px">Baños</a>
                      {% endif %}
                      {% if venue.parking  %}
                        <a class="ui brown label" style="margin-bottom: 4px">Parqueo para clientes</a>
                      {% endif %}
                      {% if venue.auto_service  %}
                        <a class="ui brown label" style="margin-bottom: 4px">Auto servicio</a>
                      {% endif %}

                       {% if venue.credit_cards  %}
                        <a class="ui brown label" style="margin-bottom: 4px">Aceptan tarjetas</a>
                      {% endif %}
                       {% if venue.reservations  %}
                        <a class="ui brown label" style="margin-bottom: 4px">Reservaciones</a>
                      {% endif %}
                       {% if venue.outdoor_seats  %}
                        <a class="ui brown label" style="margin-bottom: 4px">Sillas al aire libre</a>
                      {% endif %}
                       {% if venue.air_conditioning  %}
                        <a class="ui brown label" style="margin-bottom: 4px">Aire acondicionado</a>
                      {% endif %}
                       {% if venue.delivery  %}
                        <a class="ui brown label" style="margin-bottom: 4px">Delivery</a>
                      {% endif %}
                       {% if venue.to_take_away  %}
                        <a class="ui brown label" style="margin-bottom: 4px">Para llevar</a>
                      {% endif %}
                       {% if venue.wheelchair_access  %}
                        <a class="ui brown label" style="margin-bottom: 4px">Acceso para sillas de ruedas</a>
                      {% endif %}

                  </td>
                </tr>
              <tr>
                  <td><i class="edit icon"></i>Creado por</td>
                  <td>
                       <img class="ui avatar bordered image" src="{{venue.created_by.avatar}}">
                      <span>{{venue.created_by.first_name}} {{venue.created_by.last_name}}</span>
                  </td>
                </tr>
            </tbody></table>

          {% if  perms.venues.set_mapped and venue.status == 1 or venue.status == 3 %}
            <a class="ui blue button" href="{% url 'update_venue' venue.id %}">Actualizar estado</a>
          {% endif %}

       </div>
      {% empty %}
            <div class="ui warning message">
              <div class="header">
                Vaya!
              </div>
              No hay registros para mostrar
            </div>
      {% endfor %}

        <div class="pagination">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"><i class="left chevron icon"></i></a>
                {% endif %}

            {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <a class="active" href="#"><span>{{ i }}</span></a>
              {% else %}
                <a href="?page={{ i }}"><span>{{ i }}</span></a>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}"><i class="right chevron icon"></i></a>
            {% endif %}
    </div>

        {% endif %}

</div>



{% endblock content %}